:root {
  --blanc: #fff9f9;
  --rose: #f2d5d5;
  --turquoise-pale: #a7d9d9;
  --turquoise-fonce: #04bfbf;
  --emeraude: #0378a6;
  --bleu: #6080bf;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: "Raleway", sans-serif;
  background-color: var(--blanc);
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;

  text-transform: uppercase;
  cursor: pointer;
}
section > header {
  margin-top: 40px;
}
section > header > * {
  margin-bottom: 20px;
}

.global {
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}
