:root {
  --couleur1: #f0e8e6;
  --couleur2: #e0d1cc;
  --couleur3: #c0a398;
}

html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
    display: block;

    text-transform: uppercase;
    cursor: pointer;
}
section > header{
  margin-top: 40px;
}
section > header>*{
  margin-bottom: 20px;
}


.global {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #c0a39832;
  padding: 20px
}

@include regle_couleur_back(".entete", $couleur1);
@include regle_couleur_back(".principal", $couleur2);
@include regle_couleur_back(".pied", $couleur1);
