$blanc: --blanc;
$turquoise-pale: --turquoise-pale;
$turquoise-fonce: --turquoise-fonce;
$emeraude: --emeraude;
$bleu: --bleu;


// @mixin regle_couleur($selecteur, $couleur) {
//   #{$selecteur} {
//     color: var(#{$couleur});
//   }
// }

// @mixin regle_couleur_back($selecteur, $couleur) {
//   #{$selecteur} {
//     background-color: var(#{$couleur});
//   }
// }

@mixin regle_soulignement($selecteur){
  #{$selecteur}{
    position: absolute;
          left: 0;
          bottom: -2px;
          content: "";
          height: 1px;
          width: 0%;
          background-color: var(#{$turquoise-fonce});
          transition: 0.5s ease-out;
  }
}
@mixin regle_soulignement_hover($selecteur){
  #{$selecteur}{
    width: 100%;

  }
}