.principal__conteneur {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.principal__article {
  background-color: #f0e8e6;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 340px;
  padding: 10px;
  box-shadow: rgb(192, 163, 152) 0px 3px 8px;
  border-radius: 5px;

    & header{
      margin-top: 15px;
      margin-bottom: 10px;
    }
    a{
      font-size: clamp(1rem, 0.125rem + 1.2vw, 1.25rem);
      padding-top: 10px;
      text-transform: none;
    }

    &:hover{
  box-shadow: rgb(193, 132, 109) 0px 5px 10px;

    }
}
.principal__recherche > .principal__article {
flex-basis: auto;
margin-bottom: 20px;
}  

 