.principal__conteneur {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;

  @media screen and (max-width: 500px) {
    justify-content: center;  
}

}

.principal__article, .principal__erreur404 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid var(--turquoise-pale);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
  padding: 20px;
  border-radius: 5px;

  & header {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  & a {
    font-size: clamp(1rem, 0.125rem + 1.2vw, 1.25rem);
    text-transform: none;
  }
  & a.bouton {
    margin-top: auto;
  }

  & img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    // height: 300px;
  }

  & header {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  & p {
    min-width: 30ch;
    max-width: 90ch;
    text-transform: none;

    @media screen and (max-width: 1330px) {
      max-width: 50ch;
    }
  }
}

.principal__recherche{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.principal__erreur404{
  min-height: 50dvh;
}
.principal__erreur404_page-content p{
  max-width: 50ch;
}
.principal__erreur404_page-content ul{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}
.principal__description{
  margin:20px;
}

