.entete__global {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.entete__titre h1,
.entete__titre h2 {
  margin: 0;
}
.entete__titre h2{
  padding-top: 20px;
}

.entete__nav {
  display: flex;
  // flex-direction: column;
  align-items: baseline;
  gap: 10px;

  @media screen and (max-width: 1200px) {
    &{
      align-items: flex-start;
    }
  }
}

.responsive-menu{
    display: none;
}

.menu-toggle{
  display: none;
}

@media screen and (max-width:950px) {
    .menu-principal{
        display: none;
    }

    .nav-princ  ul {
    position: absolute;
    top: 175px;
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
    right: 0;
    gap: 0;
    z-index: 3;
  }
  .nav-princ li {
    background-color: var(--couleur-blanc);
    display: flex;
    justify-content: center;

    &:hover {
      background-color: #fff;
    }
  }

  .nav-princ li {
    overflow: hidden;
  }
  .menu-toggle li {
    height: 0;
    padding: 0;
    margin: 0;
    transition: height 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu-toggle:checked li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    border-bottom: 1px solid var(--couleur-bleu-pale);
  }

  }