/*
<nav class="menu-principal-container">
<ul id="menu-principal" class="menu"><li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-56"><a href="http://localhost:81/31w-etudiant/582-4mb-animation-3d-75h/">Animation 3D</a></li>
<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-57"><a href="http://localhost:81/31w-etudiant/582-4pa-interfaces-web-reactives-et-animees-cours-au-choix-75h/">Interfaces Web réactives et animées</a></li>
<li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-58"><a href="http://localhost:81/31w-etudiant/360-4j4-creation-de-jeu-en-equipe-105h/">Création de jeu en équipe</a></li>
<li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-59"><a href="http://localhost:81/31w-etudiant/582-4w4-conception-dinterfaces-et-developpement-web/">Conception d’interfaces</a></li>
<li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-post current-menu-item menu-item-60"><a href="http://localhost:81/31w-etudiant/582-4c2-gestion-de-projets-multimedias/" aria-current="page">Gestion de projets multimédias</a></li>
</ul></nav>
*/
.menu-principal-container {
  // nav
  .menu {
    // ul
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    .menu-item {
      //li
      min-width: fit-content;
      text-decoration: none;
      a {
        padding: 5px;
        font-size: 1rem;
        &:hover{
          text-decoration: underline;
          transition: 1000ms;
        }
        @media screen and (max-width: 720px) {
            &{
              font-size: 0.9rem;
            }
        }
        
      }
    }
  }
}

/*
.menu-principal-container 
.menu-principal-container .menu
.menu-principal-container .menu .menu-item
.menu-principal-container .menu .menu-item a
*/