// .menu-principal-container {
  // nav
  .menu {
    // ul
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    .menu-item {
      //li
      min-width: fit-content;
      text-decoration: none;
      a {
        padding: 5px;
        font-size: 1rem;
        position: relative;
        // color: #fff;

        @include regle_soulignement("&::after");
        @include regle_soulignement_hover("&:hover:after");

        @media screen and (max-width: 720px) {
            &{
              font-size: 0.9rem;
            }
        }
        
      }
    }
  }

  .current-menu-item{
    border-bottom : 1px solid #29d9d5;
  }


