.pied__global{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
}
.pied__conteneur{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.pied__conteneur:last-of-type{
    justify-content: space-around;
}
.pied__conteneur img{
    height: 250px;
}