.pied__global{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    & h1{
        margin: 0;
    }
}

.pied__conteneur{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    & h5{
      font-weight: 500;
      font-size: 22px;
    }

    @media screen and (max-width: 1020px) {
      flex-direction: column;
    }
}

.pied__auteur{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 0;
  }

}

.pied__nav a {
  list-style-type: none;
}

.pied__nav ul{
  padding: 0;
}

.pied__nav li{
  list-style-type: none;
}



@media screen and (max-width: 1200px){
.pied__global  form{
    display: block;
  }
}

