.recherche {
  border: 1px solid rgba(0, 0, 0, 0.5);
  max-width: fit-content;

  &__input,
  &__bouton {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
    
    &:hover {
      background-color: #fff;
    }
    &:focus {
      box-shadow: 0 0 10px #29d9d5;
    }
  }
}

@media screen and (max-width: 1200px) {
  .recherche {
    display: none;
  }
}
