h1 {
  font-size: clamp(2rem, -0.75rem + 4.8vw, 4rem);
}

// @include regle_couleur_avant_arriere(
//   ".entete__titre h1 a",
//   $couleur3,
//   $couleur2
// );

h2 {
  font-size: clamp(1.3rem, -0.3125rem + 3vw, 1.5rem);
}
h3 {
  font-size: clamp(1.2rem, -0.25rem + 2.6vw, 2.1875rem);
}
h4 {
  font-size: clamp(1.1rem, -0.1875rem + 2.2vw, 1.875rem);
}
h5 {
  font-size: clamp(1rem, -0.0313rem + 1.7vw, 1.5625rem);
  margin: 0;  
}
h6 {
  font-size: clamp(1rem, 0.125rem + 1.2vw, 1.25rem);
  margin: 0;
}

P {
  font-size: clamp(1rem, 0.125rem + 1.2vw, 1.1rem);
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
}

h3,
h4,
h5,
h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}